# Node / Next
node_modules/
.next/
*.log

# Env / local
.env
.env.*
firebase-debug.log

# Firebase Studio / App Hosting
.firebase/

# Firebase Functions (Next SSR în Functions)
functions/node_modules/
functions/.next/
functions/.cache/
functions/*.log
