# Node / Next
node_modules/
.next/
*.log

# Env / local
.env
.env.*
firebase-debug.log

# Firebase / App Hosting
.firebase/

# Cloud Functions cu Next SSR
functions/node_modules/
functions/.next/
functions/.cache/
